.daily-challenge-container {
  display: none;
  width: 1000px;
  overflow: hidden;
  padding: 1rem;
  padding-top: 0;
  z-index: 0;
}

.daily-challenge {
  padding: 2rem;
  background-color: var(--bg-color);
  box-shadow: 12px 12px 0px 0px var(--text-color);
  border: 5px solid var(--text-color);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0rem;
}

.daily-challenge-title-container {
  margin-top: 0rem;
  background-color: var(--text-color);
  color: var(--accent-color);
  border: 5px solid var(--text-color);
  border-radius: 1rem;
  border-bottom: none;
  box-shadow: 4px 4px 0px 0px var(--text-color);
  padding: 2rem;
}

#daily-challenge-text {
  padding: 15px;
  border: 1px solid var(--accent-color);
  font-size: 0.8rem;
  color: var(--accent-color);
  line-height: 1rem;
}

.daily-challenge-bottom {
  height: 700px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.daily-challenge-bottom ul {
  padding-right: 0.5rem;
  flex: 1;
  list-style-type: none;

  /* scroll fade mask */
  /* mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  ); */
}

.daily-challenge-bottom ul li {
  color: var(--text-color);
  font-size: 0.8rem;
  line-height: 1rem;
  padding: 0.1rem 0rem;
}

.daily-challenge-bottom-title {
  padding: 15px;
  background-color: var(--text-color);
  box-shadow: 12px 12px 0px 0px var(--text-color);
  color: var(--accent-color);
  border: 5px solid var(--text-color);
  padding: 1rem;
  border-bottom: none;
}

.daily-challenge-top {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

#imageInput {
  height: 100%;
  padding: 0.5rem;
  border: 1px dashed var(--text-color);
  border-radius: 1rem;
  background-color: var(--bg-color);
}

.upload-container {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  position: relative;
}

.upload-container p {
  font-size: 0.6rem;
  color: var(--text-color);
  line-height: 1rem;
}

/* 1. Hide the native input */
.hidden-input {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  z-index: -1;
}

/* 2. Style your custom button */
.custom-button {
  border: 2px dashed var(--text-color);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  gap: 1rem;
}

.custom-button span {
  text-align: center;
  color: var(--text-color);
  font-size: 0.8rem;
  padding: 0rem 1rem;
}

.custom-button:hover {
  background-color: var(--accent-color);
}

/* 3. Add focus styles for accessibility */
.hidden-input:focus + .custom-button {
  outline: 2px solid var(--text-color);
  outline-offset: 2px;
}

.recent-challenges-list-container {
  margin-top: 1rem;
  height: 100%;
  overflow-y: auto;
  box-shadow: 12px 12px 0px 0px var(--text-color);
  border: 5px solid var(--text-color);
  background-color: var(--bg-color);
  box-shadow: 12px 12px 0px 0px var(--text-color);
  border: 5px solid var(--text-color);
  background-color: var(--bg-color);
}

.list-style-header {
  background-color: var(--accent-color);
  font-size: 0.5rem;
  width: fit-content;
  border: 5px solid var(--text-color);
  border-radius: 9999px;
  border-bottom: none;
  box-shadow: 2px 2px 0px 0px var(--text-color);
  padding: 0.2rem 1rem;
}

#no-challenge-ui {
  height: 600px;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--gray-color);
  font-style: italic;
  text-align: center;
  padding: 0rem 7rem;
  line-height: 1.2rem;
}

#no-challenge-ui svg {
  fill: var(--gray-color);
}

#challenge-image-preview {
  border: 1px solid var(--gray-color);
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 1rem;
}

#finish-challenge-btn {
  font-size: 0.8rem;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
}

.challenge-tooltip {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  opacity: 0;
  transform: scale(0.8);
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 3rem;
  border-radius: 1rem;
  max-width: 600px;
  text-align: start;
  z-index: 100;
  pointer-events: none;
  transition: none;
}

.challenge-tooltip strong {
  color: var(--accent-color);
  font-size: 1.5rem;
}

.challenge-tooltip small {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

.challenge-tooltip small svg {
  width: 16px;
  height: 16px;
}

.challenge-type {
  width: fit-content;
  margin-top: 0.5rem;
  padding: 0.2rem 0.5rem;
  background-color: var(--primary-color);
  border: 1px solid var(--text-color);
  box-shadow: 2px 2px 0px 0px var(--text-color);
  color: var(--text-color);
  font-size: 0.5rem;
  border-radius: 0.5rem;
}

.challenge-image {
  margin-top: 0.5rem;
  width: 100%;
  height: 200px;
  border: 1px solid var(--text-color);
  box-shadow: 5px 5px 0px 0px var(--primary-color);
  object-fit: cover;
  border-radius: 1rem;
}
