:root {
  --primary-color: oklch(87.9% 0.169 91.605);
  --bg-color: oklch(0.974 0.003 174.48);
  --text-color: oklch(0.22 0.05 280);
  --accent-color: oklch(0.978 0.058 102.16);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calendar-container {
  background: white;
  width: 800px;
  border-radius: 1.5rem;
  border: 5px solid var(--text-color);
  box-shadow: 12px 12px 0px 0px var(--text-color);
  overflow: hidden;
}

.calendar-header {
  background: var(--primary-color);
  color: var(--text-color);
  display: flex;
  border-bottom: 5px solid var(--text-color);
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.calendar-header button {
  background: rgba(255, 255, 255, 0.2);
  padding: 5px 12px;
  cursor: pointer;
  font-size: 2rem;
}

.calendar-header button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 1.5rem;
  gap: 1rem;
}

.day-name {
  font-weight: bold;
  color: #888;
  text-align: center;
  padding: 20px 0px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.day {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
  font-size: 1.5rem;
}

.day:hover:not(.empty) {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.today {
  background-color: var(--primary-color) !important;
  font-weight: bold;
}

.today:hover {
  color: var(--text-color) !important;
  background-color: var(--primary-color) !important;
}

.empty {
  cursor: default;
}

.buttons {
  border: 4px solid #09090b; /* border-zinc-950 */
  font-weight: bold;
  color: #18181b; /* text-zinc-900 */
  border: 5px solid var(--text-color);
  box-shadow: 4px 4px 0px 0px #09090b;
  transition: all 0.2s;
}

.buttons:active {
  transform: translateX(4px) translateY(4px);
  box-shadow: none;
}
